:root{
    --btn-padding-size: 1%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 5%;
}

.orderInfo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table, td, th {
    border: 1px solid black;
    background-color: #373630;
    color: #ebf2f0;
    text-align: center;
}

#cancel{
    background-color: black;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: var(--btn-padding-size) 0;
}
#cancel:hover{
    background-color: #A8D0E6;
    cursor: pointer;
}


#confirm{
    background-color: black;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: var(--btn-padding-size) 0;
}
#confirm:hover{
    background-color: #A8D0E6;
    cursor: pointer;
}


.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: white;
    z-index: 2;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #038cf4;
    mix-blend-mode: soft-light;
}

.text {
    mix-blend-mode:hard-light;
    position: relative;
    z-index: 10;
    width: 100%;
}

.text h3{
    font-size: 34px;
    font-weight: 800;
    line-height: 1.5em;
    text-transform: uppercase;
}

.inputForm{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80% 20%;
    height: 3em;
}

#tInput{
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0px 0px;
    padding: 12px 12px 12px 12px;
    font-size: 20px;
  }
#sBtn{
    background-color: #1e3c72;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    margin: 0px 0px;
    padding: 12px 0;
    font-size: 20px;
}

#sBtn:hover{
    background-color: #0008e7;
    cursor: pointer;
}

@media(max-width: 500){
    .showcase
    .showcase header{
        font-size: 1em;
        padding: 40px;
    }

    .text h3{
        font-size: 3em;
    }
}

#feedback-form{

    display:flex;
    justify-content: center;
    align-items: center;
}

#realname , #email {
padding-top: 5px;
padding-bottom: 5px;
padding-right: 261px;
border: none;
border-radius: 2px;

}

#fbtn{

    background-color: #1e3c72;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    margin: 0px 0px;
    padding: 10px;
    font-size: 20px;
    float:right;
}

#fbtn:hover {

    background-color: #0008e7;
    cursor: pointer;

}

