{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>JAK Cohert</title>
    <link rel="stylesheet" href="{% static 'ICC_Tracking/styles/admin.css' %}">
    <script src="app.js" type="text/javascript"></script>
</head>
<body>
    <!-- STAFF & OWNER PAGE -->
    <header>
        <h1>Admin Page</h1>
    </header>

    <main>
        <!--This section displays current data-->
        <section class="admin-overview">
            <!-- This div will display the current orders not yet delivered
            Each order can be expanded to show more info
            Once a customer's order is delivered it should be removed-->
            <div class="current-orders">
                <h3>Active Orders</h3>
                <ul>
                    <!--Example Expanded Info-->
                    <li>Example Order <button>-</button> 
                        <div>
                            <table>
                                <tr>
                                    <td>Test Info</td>
                                    <td>Test Content</td>
                                </tr>
                                <tr>
                                    <td>Test Info</td>
                                    <td>Test Content</td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    <li>Example Order <button>+</button></li>
                    <li>Example Order <button>+</button></li>
                </ul>
            </div>
            <div class="current-bearers">
                <h3>Active Bearers</h3>
                <ul>
                    <li>Example Bearer <button>+</button></li>
                    <li>Example Bearer <button>+</button></li>
                </ul>
            </div>
        </section>

        <section class="admin-tools">
            <div class="checkin-bearer">
            <form method="post">
                
                <input id="bearer-input" type="text" name="bearer-input" placeholder="Enter Bearer name" />
				<div id="controls">
					<button name="set-bearer" type = "submit">Set Bearer</button>
                    <button name ="delete-bearer" type = "submit">Delete Bearer</button>
				</div>
            </div>
        </section>

        <section class="admin-log">
            <div class="log-result">
                <ul>
                    <li>Log example</li>
                    <li>Log example</li>
                    <li>Log example</li>
                    <li>Log example</li>
                    <li>Log example</li>
                    <li>Log example</li>
                </ul>
            </div>
        </section>

    </main>

    <footer>

    </footer>
</body>

</html>