{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>JAK Cohert</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ICC_Tracking/styles/index.css' %}">
</head>
<body>
    <!-- CUSTOMER PAGE -->
    <section class="showcase">
        <header>
            <h1>J.A.K.s-COHORT's Management System</h1>
        </header>

        <video src="{% static 'ICC_Tracking/media/videos/genericVid.mp4' %}" muted loop autoplay></video>

        <div class="overlay"></div>

            <div class="text">
                <h3> Track Your Order </h3>
                <form class="inputForm" action="" method="post">

                    {% csrf_token %}

                    <input type="text" name="tInput" id="tInput" placeholder="Enter Order #">
                    <input type="submit" name="sBtn" value="Search" id="sBtn">
                </form>
            </form>

            <div class="orderInfo">
                <h4>Order Information</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Contact Information</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Delivery Method</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Delivery Address</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>First Name: {{customer.fname}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Last Name: {{customer.lname}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Company: {{customer.company}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Address: {{customer.address}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                    <!--Optional Address Info-->
                                        <td>Apartment suite, etc.(optional): {{customer.optionalAddressInfo}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>City: {{customer.city}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Country/Region: {{customer.country}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Phone: {{customer.contactNumber}}</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Subtotal: {{customer.subtotal}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="bearer-info">

                </div>
                <div class="cancel-order">
                    <button id="cancel">Cancel Order</button>
                </div>
                <div class="confirm-order">
                    <button id="confirm">Order Recieved</button>
                </div>
            </div>
                <br>
                <br>
                <br>
                <br>
                <div id = "feedback-form">

                    <form method="POST">

                        {% csrf_token %}

                        Your Name: <br>
                        <input type="text" name="realname" id = "realname" placeholder="Enter your name"<br>
                        <br>
                        <br>
                        Your Email: <br>
                        <input type="email" name="email" id = "email" placeholder="Enter your email"><br>
                        <br>

                        Your Comments: <br>
                        <textarea id = "comments" name="comments" rows="15" cols="50" placeholder="Enter your feedback"></textarea><br><br>
                        
                        <input id = "fBtn" name = "fBtn" type="submit" value="Submit">
                         
                        </form>
                </div>
        </div>
    </section>
</body>

</html>