{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>JAK Cohert</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ICC_Tracking/styles/index.css' %}">
</head>
<body>
    <!-- CUSTOMER PAGE -->
    <section class="showcase">


        <video src="{% static 'ICC_Tracking/media/videos/genericVid.mp4' %}" muted loop autoplay></video>

        <div class="overlay"></div>

            <div class="text">
                <img src="{% static 'ICC_Tracking/media/images/ICC_Logo.png' %}">
                <h1>Ice Cream Conenexion Tracking</h1>
                <h3> Track Your Order </h3>
                <form class="inputForm" action="" method="post">

                    {% csrf_token %}

                    <input type="text" name="tInput" id="tInput" placeholder="Enter Order #">
                    <input type="submit" name="sBtn" value="Search" id="sBtn">
                </form>
            </form>

            {% if customer.ID %}
            <div class="orderInfo" style="display: flex">
            {% else %}
            <div class="orderInfo" style="display: none">
            {% endif %}
                <h4>Order Information</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{customer.fname}} {{customer.lname}}</td>
                        </tr>
                        <tr>
                            <td>Area</td>
                            <td>{{area}}</td>
                        </tr>
                        <tr>
                            <td>Assigned Bearer</td>
                            <td>{{bearer.name}}</td>
                        </tr>      
                        <tr>
                            <td>Subtotal</td>
                            <td>{{customer.subtotal}}</td>
                        </tr>                  
                    </tbody>
                </table>
            </div>
            {% if customer.ID %}
            <div id = "feedback-form" style="display: flex">
            {% else %}
            <div id = "feedback-form" style="display: none">
            {% endif %}

                <form method="POST">
                    <h1>Feedback</h1>
                    {% csrf_token %}

                    Your Name: <br>
                    <input type="text" name="realname" id = "realname" placeholder="Enter your name"<br>
                    <br>
                    <br>
                    Your Email: <br>
                    <input type="email" name="email" id = "email" placeholder="Enter your email"><br>
                    <br>

                    Your Comments: <br>
                    <textarea id = "comments" name="comments" rows="15" cols="50" placeholder="Enter your feedback"></textarea><br><br>
                        
                    <input id = "fBtn" name = "fBtn" type="submit" value="Submit">
                         
                </form>
            </div>
        </div>
    </section>
</body>

</html>