{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>JAK Cohert</title>
    <link rel="stylesheet" href="{% static 'ICC_Tracking/styles/inventory.css' %}">
</head>

<body>
    <header>
        <h1>Inventory</h1>
    </header>

    <main>
        <section class="inventory-display-section">
            <div class="ice-cream">
                <h3>Ice Cream</h3>
                <table>
                    <tr>
                        <td>Item</td>
                        <td>[Count]</td>
                    </tr>
                </table>
            </div>
            <div class="popsic">
                <h3>Popsicles</h3>
            </div>
            <div class="pastries">
                <h3>Pastries</h3>
            </div>
            <div class="cBevs">
                <h3>Cold Beverages</h3>
            </div>
            <div class="lBites">
                <h3>Lunch Bites</h3>
            </div>
            <div class="bBites">
                <h3>Breakfast Bites</h3>
            </div>
            <div class="hBevs">
                <h3>Hot Beverages</h3>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>


</html>